
.font1
{
    font-family: 'Hubballi', cursive;
}
/* .border1
{
    border: 1px solid;
    padding: 30px 50px 50px 50px;
} */
.padding-body
{
    margin: 40px;
}
.main-head
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 90;
}


* { box-sizing: border-box; }



.carousel {
  background: #EEE;
  width: 90%;
  position: relative;
  top : 15px;
  left: 80px;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: white; 
  border-radius: 5px;
}


/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}
.img1
{
    position: relative;
    top : 40px;
    left: 300px;
    image-resolution: 4000dpi;
}
.img2
{
    position: relative;
    top: 20px;
    left: 220px;
}
.img3
{
    position: relative;
    top: 20px;
    left: 250px;
}
.p1 { color: black; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }
hr
{
    color: black;
}
.p2
{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}


#footer
{
    text-align: center;
    padding: 5%;
    background-color: black;
    color: white;
}

.fa-twitter
{
    color: white;
}

.box-shadow1
{
    box-shadow:  0px 0px 14px 0px rgb(0 0 0 / 75%);
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 30;
    background-color: #EEE;
}